body {
    font-family: Arial, sans-serif;
}

.admin-container {
    width: 90vw;
    margin: 0.5vw auto;
}

.admin-page-title,
.admin-section-title {
    text-align: center;
    font-size: 2.1vw;
    margin: 0;
}

.admin-tabs {
    position: relative;
    margin: 1vw 0;
    background: #f9f9f9;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.1);
}

.admin-tabs input[type="radio"] {
    display: none;
}

.admin-tab-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    border-radius: 1vw 1vw 0 0;
    overflow: hidden;
    margin: 0;
}

.admin-tab-list li {
    width: 100%;
    text-align: center;
}

.admin-tab-list li label {
    display: block;
    padding: 1vw 2vw;
    font-size: 1.7vw;
    cursor: pointer;
    background: #0072ec;
    color: white;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0.7vw 1.1vw rgba(0, 0, 0, 0.226);
}

.admin-tab-list li label:hover,
.admin-tab-list li label:focus {
    background: #0056b3;
    box-shadow: 0 0.9vw 1.5vw rgba(0, 0, 0, 0.3);
}

.admin-slider {
    position: absolute;
    top: 0;
    width: 25%;
    height: 1vw;
    background: #ff4081;
    transition: all 0.3s ease;
    border-radius: 1vw 1vw 1vw 1vw;
}

#admin-tab1:checked~.admin-content #admin-content1,
#admin-tab2:checked~.admin-content #admin-content2,
#admin-tab3:checked~.admin-content #admin-content3,
#admin-tab4:checked~.admin-content #admin-content4 {
    display: block;
}

.admin-content section {
    display: none;
    padding: 0.5vw 0;
    background: #fff;
    border-radius: 0 0 1vw 1vw;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.1);
}

.admin-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6vw;
}

.admin-table {
    width: 100%;
    margin-top: 0.5vw;
}

.admin-table th {
    background-color: #259dff;
    color: white;
    text-align: center;
    padding: 1vw 2vw;
    font-size: 1.5vw;
}

.admin-table td {
    padding: 0.2vw 2vw;
    font-size: 1.3vw;
    text-align: center;
}

.admin-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-table tr:hover {
    background-color: #d9e7ff;
}

.admin-table button {
    font-size: 1vw;
}

#admin-tab1:checked~.admin-slider {
    left: 0;
}

#admin-tab2:checked~.admin-slider {
    left: 25%;
}

#admin-tab3:checked~.admin-slider {
    left: 50%;
}

#admin-tab4:checked~.admin-slider {
    left: 75%;
}

/* モーダルウィンドウのスタイル */
.admin-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
}

.admin-modal:target {
    visibility: visible;
    opacity: 1;
}

.admin-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.admin-modal-content {
    background: #fff;
    padding: 4vw;
    border-radius: 1vw;
    width: 90%;
    max-width: 80vw;
    z-index: 10;
    position: relative;
}

.admin-modal-close {
    position: absolute;
    top: 2vw;
    right: 2vw;
    cursor: pointer;
}

.admin-modal-close:hover {
    color: #007bff;
}

.admin-button {
    display: inline-block;
    padding: 0.5vw 1vw;
    margin: 0.4vw 1vw 0.4vw 0;
    font-size: 1vw;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    box-shadow: 0.4vw 0.4vw 0.4vw 0 #9e9e9e;
    border: none;
    border-radius: 1vw;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.admin-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.admin-button-create {
    margin: 0 2vw 0 0;
    display: inline-block;
    padding: 0.5vw 1vw;
    margin: 0.4vw 0;
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    box-shadow: 0.4vw 0.4vw 0.4vw 0 #9e9e9e;
    border: none;
    border-radius: 1vw;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.admin-button-create:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}