/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0.5vw 3vw;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    position: relative;
}

.header h1 {
    color: #0350e0;
    margin: 0 3vw 0 1vw;
    display: inline;
}

.greeting {
    font-weight: bold;
    /* 文字を太くする */
    font-size: 1.5vw;
    /* 文字サイズを比率で設定 */
    color: #333;
    /* 暗い灰色でおしゃれに */
    display: inline;
    margin-left: 0.5vw;
    /* スペースを追加 */
}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-button-container {
    background-color: #002fff;
    padding: 0.7vw;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2vw;
    height: 1.1vw;
    box-shadow: 0.2vw 0.2vw 0.2vw 0 #777777;
}

.cp_hmenuac03 {
    position: relative;
    width: 4vw;
    height: 1.5vw;
    cursor: pointer;
    z-index: 1100;
}

.cp_hmenuac03 .cp_bar,
.cp_hmenuac03:before,
.cp_hmenuac03:after {
    display: block;
    height: 0.5vh;
    content: '';
    transition: all 0.2s ease-in-out;
    border-radius: 0.5vh;
    background-color: #002fff;
    position: absolute;
    left: 0;
}

.cp_hmenuac03 .cp_bar {
    width: 1.5vw;
    height: 0.15vw;
    top: 50%;
    transform: translateY(-50%);
}

.cp_hmenuac03:before {
    width: 1vw;
    height: 0.15vw;
    top: 10%;
}

.cp_hmenuac03:after {
    width: 0.5vw;
    height: 0.15vw;
    bottom: 10%;
}

.menu-toggle:not(:checked)+.header .cp_hmenuac03 .cp_bar,
.menu-toggle:not(:checked)+.header .cp_hmenuac03:before,
.menu-toggle:not(:checked)+.header .cp_hmenuac03:after {
    background-color: #ffffff;
}

.menu-toggle:checked+.header .cp_hmenuac03 .cp_bar {
    transform: scale(0);
}

.menu-toggle:checked+.header .cp_hmenuac03:before {
    transform: translateY(1.1vh) rotate(45deg);
    width: 2vw;
}

.menu-toggle:checked+.header .cp_hmenuac03:after {
    transform: translateY(-1.1vh) rotate(-45deg);
    width: 2vw;
}

.user-greeting span {
    margin-left: 2vw;
}

.main-content {
    padding: 2vh;
}

/* Modal Styles */
.menu-toggle {
    display: none;
}

.menu-toggle:checked~.modal {
    visibility: visible;
    opacity: 1;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 2vh;
    border-radius: 0.5vw;
    width: 90%;
    max-width: 50vw;
    position: relative;
    text-align: center;
    z-index: 1050;
}

.modal-nav ul {
    list-style: none;
    padding: 0;
}

.modal-nav ul li {
    margin: 2vh 0;
}

.modal-nav ul li a {
    color: blue;
    text-decoration: none;
    font-size: 3vh;
}

.modal-nav ul li a:hover {
    text-decoration: underline;
}