/* コンテナのスタイル */
.checkin-container {
    padding: 2vw;
}

/* 予約詳細のスタイル */
.reservation-details p {
    font-size: 1.2vw;
    margin: 1vw 0;
}

/* モーダルの基本スタイル */
.checkin-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* モーダルコンテンツのスタイル */
.checkin-modal-content {
    background-color: #fff;
    margin: 10vw auto;
    padding: 2vw;
    border: 0.1vw solid #888;
    width: 80vw;
    max-width: 40vw;
    position: relative;
    border-radius: 1vw;
}

/* モーダルを表示するためのチェックボックス */
.checkin-modal-checkbox {
    display: none;
}

/* モーダルを表示するスタイル */
.checkin-modal-checkbox:checked~.checkin-modal {
    display: block;
}

/* ボタンのスタイル */
.checkin-button {
    display: inline-block;
    padding: 1vw 2vw;
    margin: 1vw;
    background-color: #007bff;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.5vw;
}

.checkin-button:hover {
    background-color: #0056b3;
}

/* モーダルの閉じるボタンのスタイル */
.checkin-modal-close-button {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 3vw ;
    height: 3vw;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 3vw;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

}

/* フォーム内のラベルとセレクトボックスのスタイル */
.checkin-modal-content label,
.checkin-modal-content select {
    display: block;
    margin-bottom: 1vw;
    font-size: 1.2vw;
}

.checkin-modal-content select {
    padding: 0.5vw;
    font-size: 1.2vw;
}

/* ボタンのスタイル */
.button {
    display: inline-block;
    padding: 1vw 2vw;
    background-color: #007bff;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.5vw;
}

.button:hover {
    background-color: #0056b3;
}