.qr-code-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.qr-code-card {
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    padding: 3vw;
    margin-top: 5vw;
    height: 35vw;
    text-align: center;
}

.qr-code-title {
    font-size: 1.7vw;
    margin-bottom: 2vw;
    color: #333;
}
.qr-code {
    margin-bottom:2vw;
}

.qr-code svg {
    width: 20vw;
    max-width: 100%;
    height: auto;
}

.qr-code-description {
    font-size: 1.5vw;
    margin-bottom: 2vw;
    color: #666;
}

.qr-code-buttons {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.qr-code-button {
    display: inline-block;
    padding: 0.5vw 2vw;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    transition: background-color 0.3s ease;
}

.qr-code-button:hover {
    background-color: #0056b3;
}