body {
    font-family: Arial, sans-serif;
}

.shop-owner-container {
    width: 90%;
    margin: 1vw auto;
}

.shop-owner-page-title,
.shop-owner-section-title {
    font-size: 2.5vw;
    text-align: center;
    margin: 0;
}

.shop-owner-content {
    display: flex;
    justify-content: space-between;
}

.registered-shops,
.shop-owner-reservations {
    width: 48%;
}

.shop-owner-section-header-shops {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7vw 1vw 0;
}

.shop-owner-section-header-reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 1vw 0;
}

.shop-owner-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0 #9e9e9e;
    text-align: center;
    max-width: 32vw;
    height: 35vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.shop-owner-shop-image {
    width: 100%;
    height: 100%;
}

.shop-owner-image-container {
    height: 22vw;
}

.shop-owner-title-container h3 {
    font-size: 1.3vw;
    margin: 0;
}

.shop-owner-info-tags p {
    font-size: 1vw;
    margin: 0;
}

.shop-owner-info-shop-info p {
    font-size: 1.1vw;
    margin: 0;
    height: 5vw;
    overflow-y: auto;
    padding: 0 1vw 0 0.5vw;
}

.shop-owner-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5vw 0;
    padding: 0 1vw;
}

.shop-owner-reservation-info {
    padding: 0.7vw 2vw 1.5vw 2.5vw;
    margin-bottom: 1vw;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #007bff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0 #9e9e9e;
    height: 15vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1vw;
}

.shop-owner-reservation-info p {
    color: white;
    font-size: 1.3vw;
    margin: 0 0 0.2vw 0;
}

.rsv-destroy-btn {
    display: flex;
    justify-content: center;
    margin: 0 0 0 auto;
    align-items: center;
    width: 2vw;
    height: 2vw;
    background-color: #007bff;
    color: white;
    border: 0.1vw solid white;
    border-radius: 50%;
    font-size: 1.3vw;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-owner-button {
    display: inline-block;
    padding: 0.5vw 1.5vw;
    margin: 0.2vw 0;
    font-size: 1vw;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0 #9e9e9e;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.shop-owner-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.shop-owner-button-create {
    margin: 0 1vw 0 0;
    display: inline-block;
    padding: 0.5vw 1.5vw;
    margin: 0.2vw 0;
    font-size: 1vw;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0 #9e9e9e;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.shop-owner-button-create:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.shop-owner-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
}

.shop-owner-modal:target {
    visibility: visible;
    opacity: 1;
}

.shop-owner-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shop-owner-modal-content {
    background: #fff;
    padding: 2vw;
    border-radius: 1vw;
    width: 40vw;
    max-width: 90vw;
    height: auto;
    z-index: 10;
    position: relative;
}

.shop-owner-modal-close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 1vw;
    cursor: pointer;
    color: #ffffff;
}

.shop-owner-modal-close:hover {
    color: #007bff;
}
.send-notification-user {
    margin: 0.5vw 2vw;
    display: flex;
    justify-content: center;
}
.send-notification-user label{
    margin: 0.5vw 2vw;
    display: flex;
    justify-content: center;
}

.send-notification-user input {
    margin: 0.5vw 0;
}

.shop-owner-modal-content label,
.shop-owner-modal-content select {
    margin-top: 0.5vw;
    display: block;
    width: 99%;
    font-size: 1.2vw;
}
.shop-owner-modal-mail-title {
    display: block;
    width: 99%;
    margin-bottom: 1vw;
    font-size: 1.2vw;
}
.shop-owner-modal-content textarea {
    display: block;
    width: 100%;
    height: 13vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
}

.shop-owner-modal-content button {
    width: 100%;
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-owner-modal-content button:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 768px) {
    .shop-owner-content {
        flex-direction: column;
    }
    .shop-owner-section-header-shops {
        display: flex;
        justify-content: center;
        gap: 3vw;
        margin: 0 0 1vw 0;
    }
    .registered-shops {
        width: 100%;
        overflow: auto;
        max-height: 60vw;
        margin-bottom: 1vw;
    }
    .shop-owner-reservations {
        width: 97%;
        overflow: auto;
        max-height: 50vh;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shop-owner-section-header-reservation {
        margin: 2vw 0 1vw 0;
        display: flex;
        justify-content: center;
        gap: 3vw;
    }
    .shop-owner-reservation-info{
        width: 28vw;
    }
    .shop-owner-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shop-owner-modal-content {
        width: 80vw;
        height: auto;
        padding: 3vw;
    }

    .shop-owner-modal-content button {
        font-size: 2vw;
        padding: 1.5vw;
    }

    .shop-owner-modal-content label,
    .shop-owner-modal-content input,
    .shop-owner-modal-content select,
    .shop-owner-modal-content textarea {
        font-size: 2vw;
    }
}