.shop-detail-main {
    display: flex;
    justify-content: space-between;
    padding: 2vw 0 0 0;
}

.shop-detail-left {
    width: 40vw;
    margin-right: 2vw;
}

.shop-info {
    max-height: 5vw;
    overflow-y: auto;
    padding-right: 1vw;
}

.shop-detail-right {
    width: 40vw;
    background-color: #007bff;
    border-radius: 0.5vw;
    color: #fff;
    margin-top: 2vw;
    height: 45vw;
}

.detail-body {
    padding: 2vw;
}

.back-button-container {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}

.back-button {
    display: inline-block;
    width: 2vw;
    height: 2vw;
    border-radius: 0.5vw;
    background-color: #fff;
    box-shadow: 0.2vw 0.2vw 0.2vw 0 #9e9e9e;
    text-align: center;
    line-height: 2vw;
    margin-right: 1vw;
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    background-color: #e0e0e0;
    box-shadow: 0.2vw 0.2vw 0.4vw 0 #9e9e9e;
}

.shop-image {
    width: auto;
    height: 25vw;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
}

.shop-detail-right h3 {
    margin: 0.5vw 0 1vw 0;
    font-size: 1.5vw;
}

.shop-detail-right label {
    display: block;
    margin-bottom: 0.5vw;
    font-size: 1vw;
}

.reserve-date input {
    width: 20vw;
    padding: 0.5vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    border: none;
    font-size: 1vw;
}

.reserve-time select {
    width: 100%;
    padding: 0.5vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    border: none;
    font-size: 1vw;
}

.number-of-people select {
    width: 100%;
    padding: 0.5vw;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    border: none;
    font-size: 1vw;
}

.reservation-summary {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1vw;
    border-radius: 0.5vw;
    margin-top: 2vw;
    font-size: 1vw;
}

.reserve-button {
    display: block;
    width: 100%;
    margin-top: 9.1vw;
    padding: 1vw;
    background-color: #0056b3;
    color: #fff;
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0 0 0.5vw 0.5vw;
}

.reserve-button:hover {
    background-color: #004494;
}

.shop-detail-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
    z-index: 9999;
}

.shop-detail-modal:target {
    visibility: visible;
    opacity: 1;
}

.shop-detail-modal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10000;
    text-align: center;
}

.shop-detail-modal .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.shop-detail-modal .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10001;
}

.modal-reserve-date input {
    font-size: 2vw;
    border-radius: 0.5vw;
    border: none;
}

.modal-reserve-time select {
    font-size: 2vw;
    border-radius: 0.5vw;
    border: none;
}

.modal-number-of-people select {
    font-size: 2vw;
    border-radius: 0.5vw;
    border: none;
}

.modal-reservation-summary {
    font-size: 2vw;
    border-radius: 0.5vw;
    border: none;
}

.reserve-button-mobile {
    display: none;
}

.all-reviews-button {
    display: block;
    width: 95%;
    margin: 1vw 0;
    padding: 0.5vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0.5vw;
    text-align: center;
    text-decoration: none;
}

.all-reviews-button:hover {
    background-color: #0056b3;
}

.reviews-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s;
    z-index: 9999;
}

.reviews-modal:target {
    visibility: visible;
    opacity: 1;
}

.reviews-modal .reviews-modal-content {
    background-color: #fff;
    padding: 2vw;
    border-radius: 1vw;
    width: 80vw;
    max-width: 50vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10000;
    text-align: center;
    overflow-y: auto;
    max-height: 80vh;
}

.reviews-modal .reviews-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.reviews-modal .reviews-modal-close {
    position: absolute;
    top: 1vw;
    right: 1vw;
    cursor: pointer;
    z-index: 10001;
}

.review-item {
    margin-bottom: 2vw;
    padding: 1vw;
    border-bottom: 0.1vw solid #ccc;
}

.review-image {
    max-width: 20vw;
    max-height: 15vw;
    margin-top: 1vw;
}

.review-comment {
    font-size:1.3vw
}

.review-evaluation {
    font-size: 1.5vw;
    color: #007bff;
}

.star-rating {
    display: inline-block;
    font-size: 3vw;
    color: #007bff;
}

.star {
    color: #ccc;
}

.star.filled {
    color: #007bff;
}

.link-button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    margin-left: 1.5vw;
}

.link-button:hover {
    color: #0056b3;
}
.edit-delete{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2vw;
}
.review-box{
    margin: 2vw 0;
    padding: 1vw 0;
    border-top: 0.1vw solid #9e9e9e;
    border-bottom: 0.1vw solid #9e9e9e;
}

@media (max-width: 768px) {
    .shop-detail-main {
        flex-direction: column;
    }

    .shop-detail-left,
    .shop-detail-right {
        width: 100%;
    }

    .shop-detail-right {
        display: none;
    }

    .reserve-button-mobile {
        display: block;
        background-color: #007bff;
        color: #fff;
        padding: 1vw 2vw;
        border: none;
        border-radius: 0.5vw;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2vw;
        margin-top: 1vw;
    }

    .reserve-button {
        font-size: 2vw;
    }

    .shop-image {
        width: auto;
        height: 55vw;
        border-radius: 0.5vw;
        margin-bottom: 1vw;
    }

    .shop-info {
        max-height: 20vw;
        overflow-y: auto;
        padding-right: 1vw;
    }

    .all-reviews-button {
        font-size: 2vw;
    }
    .edit-delete {
        font-size: 2vw;
    }

    .review-comment {
        font-size: 2vw;
    }
    .star-rating {
        font-size: 4vw;
    }
    .review-image {
        max-width: 25vw;
        max-height: 20vw;
        margin-top: 1vw;
    }
}